{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand" href="{% url 'index' %}">MusicallyAI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'genre' %}">Genre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'generation' %}">Generation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'splitter' %}">Splitter</a>
      </li>
    </ul>

    <!-- <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
          <span class="navbar-toggler-icon"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a class="dropdown-item" href="{% url 'index' %}">
              <ion-icon name="person-circle-outline" size="large"></ion-icon>
            </a>
          </li>
          <li><a class="dropdown-item" href="{% url 'index' %}">Login</a></li>
          <li><a class="dropdown-item" href="{% url 'index' %}">Register</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="{% url 'index' %}">Logout</a></li>
        </ul>
      </li>
    </ul> -->

  </div>
</nav>